In [27]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time

In [28]:
# Import the census data into a pandas DataFrame
census_other_2000_pd = pd.read_csv("census_data/Other/2000_other_cleaned.csv")

# Preview the data
census_other_2000_pd.head()

,CountyID,CountyName,TotalPopulation,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999",...,"$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",Year,Race
0,1001,"Autauga County, Alabama",31,7,0,0,8,0,0,0,...,9,0,0,7,0,0,0,0,2000,Other
1,1003,"Baldwin County, Alabama",212,22,31,5,36,10,13,28,...,30,0,11,10,0,0,2,14,2000,Other
2,1005,"Barbour County, Alabama",57,10,10,2,0,2,0,11,...,0,0,1,13,0,0,0,0,2000,Other
3,1007,"Bibb County, Alabama",15,0,0,0,0,0,0,5,...,10,0,0,0,0,0,0,0,2000,Other
4,1009,"Blount County, Alabama",307,42,17,15,27,25,94,5,...,17,3,18,16,14,0,0,0,2000,Other

In [30]:
# Import the census data into a pandas DataFrame
census_other_2005_pd = pd.read_csv("census_data/Other/2005_other_cleaned.csv")

# Preview the data
census_other_2005_pd.head()

,CountyID,CountyName,TotalPopulation,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999",...,"$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",Year,Race
0,4013,"Maricopa County, Arizona",101811,6562,7316,7081,8596,8452,6467,7214,...,6783,10093,12153,8200,4636,1637,718,666,2005,Other
1,4019,"Pima County, Arizona",46916,4345,3923,3813,4219,4451,4883,2038,...,2448,3700,4414,3217,1092,420,305,382,2005,Other
2,4021,"Pinal County, Arizona",10177,1102,829,1378,862,1283,561,502,...,516,488,862,836,183,181,0,0,2005,Other
3,4027,"Yuma County, Arizona",11391,2547,825,367,734,671,777,461,...,800,1195,821,622,139,331,0,0,2005,Other
4,6001,"Alameda County, California",40081,2383,1709,1048,2812,2396,1095,2724,...,3438,3030,5029,6307,2743,2270,699,531,2005,Other

In [32]:
# Import the census data into a pandas DataFrame
census_other_2008_pd = pd.read_csv("census_data/Other/2008_other_cleaned.csv")

# Preview the data
census_other_2008_pd.head()

,CountyID,CountyName,TotalPopulation,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999",...,"$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",Year,Race
0,4013,"Maricopa County, Arizona",57964,2506,2129,3169,2489,4628,4847,4308,...,3772,5107,6808,8383,3122,1688,1293,457,2008,Other
1,4019,"Pima County, Arizona",23450,3352,2274,1605,1738,947,1785,1187,...,1778,2161,1449,1714,1274,422,260,102,2008,Other
2,4021,"Pinal County, Arizona",13091,929,456,1353,1113,1252,836,1060,...,1201,1128,1285,1198,794,20,0,0,2008,Other
3,4027,"Yuma County, Arizona",11467,1306,1034,815,945,1167,1268,393,...,470,875,1501,394,307,60,171,0,2008,Other
4,6001,"Alameda County, California",33345,1461,1761,2372,1536,1612,2666,1035,...,1066,3034,4847,4308,2829,1316,1261,643,2008,Other

In [34]:
# Import the census data into a pandas DataFrame
census_other_2010_pd = pd.read_csv("census_data/Other/2010_other_cleaned.csv")

# Preview the data
census_other_2010_pd.head()

,CountyID,CountyName,TotalPopulation,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999",...,"$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",Year,Race
0,4013,"Maricopa County, Arizona",56246,5245,3236,3785,4259,3319,5736,5393,...,2429,4342,6102,6105,1717,1170,143,255,2010,Other
1,4019,"Pima County, Arizona",20608,2228,2543,1257,2186,1829,1148,1070,...,774,1378,1804,1699,703,544,102,103,2010,Other
2,4021,"Pinal County, Arizona",8153,734,1172,0,715,614,135,591,...,163,1131,715,895,233,204,0,0,2010,Other
3,4027,"Yuma County, Arizona",8409,813,372,467,864,661,558,0,...,285,736,758,1296,649,276,440,0,2010,Other
4,6001,"Alameda County, California",31922,1248,2245,1530,2297,1743,2418,1583,...,590,2659,3917,3406,3204,2014,601,543,2010,Other

In [36]:
# Import the census data into a pandas DataFrame
census_other_2013_pd = pd.read_csv("census_data/Other/2013_other_cleaned.csv")

# Preview the data
census_other_2013_pd.head()

,CountyID,CountyName,TotalPopulation,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999",...,"$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",Year,Race
0,4013,"Maricopa County, Arizona",59190,6127,3047,4771,5876,3294,4064,3656,...,3781,4682,5586,5710,2712,1363,582,372,2013,Other
1,4019,"Pima County, Arizona",27378,3111,2768,2787,2692,3624,1501,1138,...,947,1575,1566,1684,1004,916,199,207,2013,Other
2,4027,"Yuma County, Arizona",9411,845,601,551,641,996,523,970,...,373,718,1057,943,522,192,0,0,2013,Other
3,6001,"Alameda County, California",32978,682,835,1768,1388,1400,2022,1326,...,1223,3569,4395,5295,2512,1711,1537,714,2013,Other
4,6013,"Contra Costa County, California",20873,786,462,1723,1082,871,1033,1355,...,1291,1965,3199,1906,2362,706,983,237,2013,Other

In [37]:
# Import the census data into a pandas DataFrame
census_other_2016_pd = pd.read_csv("census_data/Other/2016_other_cleaned.csv")

# Preview the data
census_other_2016_pd.head()

,CountyID,CountyName,TotalPopulation,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999",...,"$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",Year,Race
0,4013,"Maricopa County, Arizona",93671,8429,5754,5011,5977,5884,6246,5717,...,5034,10238,9917,9587,4617,2238,1090,841,2016,Other
1,4019,"Pima County, Arizona",29588,2536,2822,3025,2267,2145,1857,1323,...,1549,2613,2437,2855,549,448,704,307,2016,Other
2,4021,"Pinal County, Arizona",4167,244,582,238,452,156,211,472,...,208,457,399,257,93,183,47,0,2016,Other
3,4027,"Yuma County, Arizona",22780,1116,1306,1918,1018,2327,1363,1093,...,920,1994,2366,3879,302,532,204,328,2016,Other
4,6001,"Alameda County, California",41898,1650,1709,989,1537,1595,1473,1996,...,1313,3479,5180,8235,5167,2438,2377,1532,2016,Other

In [39]:
# Concatenate dataframes
census_other_total_pd = pd.concat([census_other_2000_pd, census_other_2005_pd, census_other_2008_pd, census_other_2010_pd, census_other_2013_pd, census_other_2016_pd], ignore_index=True)
census_other_total_pd

,CountyID,CountyName,TotalPopulation,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999",...,"$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",Year,Race
0,1001,"Autauga County, Alabama",31,7,0,0,8,0,0,0,...,9,0,0,7,0,0,0,0,2000,Other
1,1003,"Baldwin County, Alabama",212,22,31,5,36,10,13,28,...,30,0,11,10,0,0,2,14,2000,Other
2,1005,"Barbour County, Alabama",57,10,10,2,0,2,0,11,...,0,0,1,13,0,0,0,0,2000,Other
3,1007,"Bibb County, Alabama",15,0,0,0,0,0,0,5,...,10,0,0,0,0,0,0,0,2000,Other
4,1009,"Blount County, Alabama",307,42,17,15,27,25,94,5,...,17,3,18,16,14,0,0,0,2000,Other
5,1011,"Bullock County, Alabama",5,0,0,0,0,5,0,0,...,0,0,0,0,0,0,0,0,2000,Other
6,1013,"Butler County, Alabama",4,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2000,Other
7,1015,"Calhoun County, Alabama",143,21,17,18,9,0,14,9,...,18,23,0,5,0,0,4,0,2000,Other
8,1017,"Chambers County, Alabama",26,5,3,6,0,0,0,0,...,0,0,0,0,0,0,0,0,2000,Other
9,1019,"Cherokee County, Alabama",16,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,2000,Other
10,1021,"Chilton County, Alabama",102,16,19,11,13,5,17,6,...,0,3,3,3,3,0,0,0,2000,Other
11,1023,"Choctaw County, Alabama",5,2,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2000,Other
12,1025,"Clarke County, Alabama",11,0,1,0,10,0,0,0,...,0,0,0,0,0,0,0,0,2000,Other
13,1027,"Clay County, Alabama",21,0,6,0,0,1,0,3,...,0,0,0,3,0,0,0,0,2000,Other
14,1029,"Cleburne County, Alabama",34,0,5,0,17,0,12,0,...,0,0,0,0,0,0,0,0,2000,Other
15,1031,"Coffee County, Alabama",84,2,0,5,6,20,22,9,...,9,0,4,0,0,0,0,0,2000,Other
16,1033,"Colbert County, Alabama",38,0,11,0,7,0,2,0,...,6,2,5,0,0,0,0,0,2000,Other
17,1035,"Conecuh County, Alabama",13,0,0,6,0,7,0,0,...,0,0,0,0,0,0,0,0,2000,Other
18,1037,"Coosa County, Alabama",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2000,Other
19,1039,"Covington County, Alabama",31,11,0,0,11,0,0,9,...,0,0,0,0,0,0,0,0,2000,Other
20,1041,"Crenshaw County, Alabama",1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,2000,Other
21,1043,"Cullman County, Alabama",140,3,21,19,31,3,16,11,...,12,14,10,0,0,0,0,0,2000,Other
22,1045,"Dale County, Alabama",180,20,24,20,11,41,14,13,...,2,12,10,3,0,0,0,3,2000,Other
23,1047,"Dallas County, Alabama",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2000,Other
24,1049,"DeKalb County, Alabama",398,32,34,36,89,31,40,13,...,27,38,23,29,0,0,0,0,2000,Other
25,1051,"Elmore County, Alabama",59,11,0,0,21,3,0,4,...,0,8,2,0,0,0,10,0,2000,Other
26,1053,"Escambia County, Alabama",37,19,0,0,2,2,5,0,...,2,0,6,0,0,0,0,0,2000,Other
27,1055,"Etowah County, Alabama",178,48,22,3,7,41,10,9,...,0,0,26,5,0,0,0,0,2000,Other
28,1057,"Fayette County, Alabama",19,0,7,6,0,0,0,0,...,0,6,0,0,0,0,0,0,2000,Other
29,1059,"Franklin County, Alabama",321,25,37,85,17,28,42,14,...,17,14,6,12,8,0,0,8,2000,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7514,40109,"Oklahoma County, Oklahoma",7040,713,478,292,815,161,235,425,...,321,578,996,608,368,52,0,86,2016,Other
7515,40143,"Tulsa County, Oklahoma",7616,626,680,699,508,764,611,389,...,614,807,353,522,86,0,165,89,2016,Other
7516,42011,"Berks County, Pennsylvania",3836,330,371,140,237,158,107,172,...,243,432,440,632,219,0,65,0,2016,Other
7517,42077,"Lehigh County, Pennsylvania",7932,1067,623,665,18,652,1094,327,...,66,510,1282,542,619,294,0,0,2016,Other
7518,42101,"Philadelphia County, Pennsylvania",31139,5657,2416,2943,2763,1804,3252,1039,...,1725,2053,2045,2684,1030,634,0,145,2016,Other
7519,44007,"Providence County, Rhode Island",15889,2985,1633,700,518,910,1139,611,...,1062,1419,904,1662,809,310,222,43,2016,Other
7520,47157,"Shelby County, Tennessee",6151,367,453,374,551,481,624,269,...,442,451,698,469,0,25,123,170,2016,Other
7521,48029,"Bexar County, Texas",38866,3517,2177,2384,2790,2707,2615,2886,...,1910,3783,3712,4492,1907,736,419,1333,2016,Other
7522,48061,"Cameron County, Texas",4403,595,577,517,0,503,176,197,...,313,487,84,324,46,95,40,64,2016,Other
7523,48085,"Collin County, Texas",6812,151,114,111,121,824,481,106,...,323,411,1072,444,1248,275,253,243,2016,Other
7524,48113,"Dallas County, Texas",43632,1315,1741,2913,3494,3218,2564,3180,...,2245,4819,5685,5362,2646,601,784,357,2016,Other
7525,48121,"Denton County, Texas",7820,328,375,94,540,180,184,548,...,422,1151,713,1117,680,213,477,161,2016,Other
7526,48141,"El Paso County, Texas",27278,2415,2498,2804,1457,2206,2164,1160,...,2194,2420,2745,2153,1628,209,271,270,2016,Other
7527,48157,"Fort Bend County, Texas",10377,1150,498,59,393,508,647,801,...,56,348,1413,1958,1218,241,275,363,2016,Other
7528,48187,"Guadalupe County, Texas",8794,1157,330,314,362,100,958,219,...,892,1088,1195,334,310,403,49,365,2016,Other
7529,48201,"Harris County, Texas",113958,6388,5700,8538,9168,7925,8893,6892,...,5377,11356,13190,8745,7405,2935,2216,1454,2016,Other
7530,48215,"Hidalgo County, Texas",30055,4875,3594,3064,3303,787,1285,1457,...,936,1906,3344,1273,1751,834,254,135,2016,Other
7531,48303,"Lubbock County, Texas",5432,226,511,152,706,717,149,0,...,891,393,518,532,168,215,68,105,2016,Other
7532,48439,"Tarrant County, Texas",36752,1828,1887,1028,1928,1814,3831,2947,...,2159,5542,4014,3768,1522,1219,271,362,2016,Other
7533,48453,"Travis County, Texas",22864,1282,1681,766,749,1993,1418,2082,...,1426,1511,2515,1734,2447,448,872,606,2016,Other
7534,49035,"Salt Lake County, Utah",26766,1342,1214,1320,1543,1689,1417,1833,...,1381,3387,4141,3335,1009,650,327,220,2016,Other
7535,51059,"Fairfax County, Virginia",11276,144,332,376,391,112,520,965,...,369,1151,806,2638,1098,491,696,463,2016,Other
7536,51153,"Prince William County, Virginia",9613,1187,395,261,0,681,311,618,...,80,1132,835,2011,826,368,303,454,2016,Other
7537,53021,"Franklin County, Washington",6851,765,258,106,161,600,387,551,...,161,1022,210,1397,531,165,0,184,2016,Other
7538,53025,"Grant County, Washington",5752,64,515,527,136,780,325,332,...,546,1176,540,302,183,0,0,115,2016,Other
7539,53033,"King County, Washington",26314,999,681,1183,669,993,1011,1751,...,1252,2350,5427,3555,2240,826,1062,391,2016,Other
7540,53053,"Pierce County, Washington",7604,292,341,353,523,774,457,57,...,423,806,826,661,844,214,0,159,2016,Other
7541,53061,"Snohomish County, Washington",6530,85,332,131,0,467,563,59,...,346,507,1411,639,808,158,438,39,2016,Other
7542,53077,"Yakima County, Washington",7580,692,606,312,529,343,388,317,...,169,492,837,1168,753,70,259,0,2016,Other
7543,55079,"Milwaukee County, Wisconsin",16253,2130,794,1513,856,673,1422,1178,...,660,1344,1221,2817,659,355,26,43,2016,Other

In [40]:
# Save Data to csv
census_other_total_pd.to_csv("census_data/census_other_total_cleaned_pd.csv")