In [7]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time

In [8]:
# Import the census data into a pandas DataFrame
census_mixed_2000_pd = pd.read_csv("census_data/Mixed/DEC_00_SF3_P151G_with_ann.csv")

# Preview the data
census_mixed_2000_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
0,0500000US01001,1001,"Autauga County, Alabama",171,NaN,21,NaN,9,NaN,28,...,9,NaN,0,NaN,0,NaN,0,NaN,6,NaN
1,0500000US01003,1003,"Baldwin County, Alabama",566,NaN,47,NaN,23,NaN,59,...,67,NaN,8,NaN,5,NaN,0,NaN,6,NaN
2,0500000US01005,1005,"Barbour County, Alabama",75,NaN,18,NaN,20,NaN,5,...,6,NaN,0,NaN,0,NaN,6,NaN,0,NaN
3,0500000US01007,1007,"Bibb County, Alabama",61,NaN,2,NaN,29,NaN,6,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
4,0500000US01009,1009,"Blount County, Alabama",183,NaN,17,NaN,0,NaN,11,...,9,NaN,20,NaN,11,NaN,6,NaN,0,NaN

In [11]:
census_mixed_2000_pd["Year"]="2000"
census_mixed_2000_pd["Race"]="Mixed"
census_mixed_2000_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more",Year,Race
0,0500000US01001,1001,"Autauga County, Alabama",171,NaN,21,NaN,9,NaN,28,...,0,NaN,0,NaN,0,NaN,6,NaN,2000,Mixed
1,0500000US01003,1003,"Baldwin County, Alabama",566,NaN,47,NaN,23,NaN,59,...,8,NaN,5,NaN,0,NaN,6,NaN,2000,Mixed
2,0500000US01005,1005,"Barbour County, Alabama",75,NaN,18,NaN,20,NaN,5,...,0,NaN,0,NaN,6,NaN,0,NaN,2000,Mixed
3,0500000US01007,1007,"Bibb County, Alabama",61,NaN,2,NaN,29,NaN,6,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Mixed
4,0500000US01009,1009,"Blount County, Alabama",183,NaN,17,NaN,0,NaN,11,...,20,NaN,11,NaN,6,NaN,0,NaN,2000,Mixed

In [13]:
# Import the census data into a pandas DataFrame
census_mixed_2005_pd = pd.read_csv("census_data/Mixed/ACS_05_EST_B19001G_with_ann.csv")

# Preview the data
census_mixed_2005_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
0,0500000US02020,2020,"Anchorage Municipality, Alaska",4948,1057,433,308,300,267,288,...,761,436,84,100,274,284,283,298,0,233
1,0500000US04013,4013,"Maricopa County, Arizona",16799,2136,1057,482,951,445,1396,...,2126,694,1007,462,305,223,412,266,116,141
2,0500000US04019,4019,"Pima County, Arizona",5852,1136,787,493,211,175,287,...,176,209,312,244,0,291,39,66,0,291
3,0500000US06001,6001,"Alameda County, California",13647,1695,993,450,712,353,401,...,1626,783,1466,633,680,355,750,487,441,394
4,0500000US06013,6013,"Contra Costa County, California",8948,1522,471,290,498,412,564,...,1192,505,1128,560,196,236,739,501,273,193

In [14]:
census_mixed_2005_pd["Year"]="2005"
census_mixed_2005_pd["Race"]="Mixed"
census_mixed_2005_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more",Year,Race
0,0500000US02020,2020,"Anchorage Municipality, Alaska",4948,1057,433,308,300,267,288,...,84,100,274,284,283,298,0,233,2005,Mixed
1,0500000US04013,4013,"Maricopa County, Arizona",16799,2136,1057,482,951,445,1396,...,1007,462,305,223,412,266,116,141,2005,Mixed
2,0500000US04019,4019,"Pima County, Arizona",5852,1136,787,493,211,175,287,...,312,244,0,291,39,66,0,291,2005,Mixed
3,0500000US06001,6001,"Alameda County, California",13647,1695,993,450,712,353,401,...,1466,633,680,355,750,487,441,394,2005,Mixed
4,0500000US06013,6013,"Contra Costa County, California",8948,1522,471,290,498,412,564,...,1128,560,196,236,739,501,273,193,2005,Mixed

In [15]:
# Import the census data into a pandas DataFrame
census_mixed_2008_pd = pd.read_csv("census_data/Mixed/ACS_08_1YR_B19001G_with_ann.csv")

# Preview the data
census_mixed_2008_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
0,0500000US02020,2020,"Anchorage Municipality, Alaska",6681,1422,33,61,150,194,151,...,1298,516,350,234,498,420,121,160,34,58
1,0500000US04013,4013,"Maricopa County, Arizona",19427,2048,1317,444,726,427,420,...,2959,826,1676,694,642,374,628,363,247,204
2,0500000US04019,4019,"Pima County, Arizona",5637,1161,482,302,381,258,415,...,330,224,280,206,415,347,237,250,0,302
3,0500000US06001,6001,"Alameda County, California",14306,1871,1229,671,621,546,447,...,2066,801,1608,624,748,379,839,475,999,483
4,0500000US06013,6013,"Contra Costa County, California",9373,1391,710,553,362,260,427,...,1405,649,1335,640,597,345,585,296,509,326

In [16]:
census_mixed_2008_pd["Year"]="2008"
census_mixed_2008_pd["Race"]="Mixed"
census_mixed_2008_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more",Year,Race
0,0500000US02020,2020,"Anchorage Municipality, Alaska",6681,1422,33,61,150,194,151,...,350,234,498,420,121,160,34,58,2008,Mixed
1,0500000US04013,4013,"Maricopa County, Arizona",19427,2048,1317,444,726,427,420,...,1676,694,642,374,628,363,247,204,2008,Mixed
2,0500000US04019,4019,"Pima County, Arizona",5637,1161,482,302,381,258,415,...,280,206,415,347,237,250,0,302,2008,Mixed
3,0500000US06001,6001,"Alameda County, California",14306,1871,1229,671,621,546,447,...,1608,624,748,379,839,475,999,483,2008,Mixed
4,0500000US06013,6013,"Contra Costa County, California",9373,1391,710,553,362,260,427,...,1335,640,597,345,585,296,509,326,2008,Mixed

In [17]:
# Import the census data into a pandas DataFrame
census_mixed_2010_pd = pd.read_csv("census_data/Mixed/ACS_10_1YR_B19001G_with_ann.csv")

# Preview the data
census_mixed_2010_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
0,0500000US02020,2020,"Anchorage Municipality, Alaska",5606,1108,139,181,371,364,171,...,740,481,276,324,305,225,125,129,287,315
1,0500000US04013,4013,"Maricopa County, Arizona",20548,2195,1314,609,1039,547,1317,...,2049,824,1076,482,1003,795,1003,559,645,346
2,0500000US04019,4019,"Pima County, Arizona",6445,1140,763,401,168,175,326,...,805,510,522,304,375,227,0,305,140,161
3,0500000US06001,6001,"Alameda County, California",20072,2383,1538,641,854,437,798,...,3419,794,2311,776,481,271,1168,463,1313,566
4,0500000US06013,6013,"Contra Costa County, California",10358,1552,382,285,530,550,429,...,1324,589,682,321,499,406,938,550,869,455

In [18]:
census_mixed_2010_pd["Year"]="2010"
census_mixed_2010_pd["Race"]="Mixed"
census_mixed_2010_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more",Year,Race
0,0500000US02020,2020,"Anchorage Municipality, Alaska",5606,1108,139,181,371,364,171,...,276,324,305,225,125,129,287,315,2010,Mixed
1,0500000US04013,4013,"Maricopa County, Arizona",20548,2195,1314,609,1039,547,1317,...,1076,482,1003,795,1003,559,645,346,2010,Mixed
2,0500000US04019,4019,"Pima County, Arizona",6445,1140,763,401,168,175,326,...,522,304,375,227,0,305,140,161,2010,Mixed
3,0500000US06001,6001,"Alameda County, California",20072,2383,1538,641,854,437,798,...,2311,776,481,271,1168,463,1313,566,2010,Mixed
4,0500000US06013,6013,"Contra Costa County, California",10358,1552,382,285,530,550,429,...,682,321,499,406,938,550,869,455,2010,Mixed

In [19]:
# Import the census data into a pandas DataFrame
census_mixed_2013_pd = pd.read_csv("census_data/Mixed/ACS_13_1YR_B19001G_with_ann.csv")

# Preview the data
census_mixed_2013_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
0,0500000US04013,4013,"Maricopa County, Arizona",25246,2390,2497,793,1530,763,1335,...,3092,853,2517,797,967,412,1265,637,624,609
1,0500000US04019,4019,"Pima County, Arizona",9347,1389,1196,509,414,287,671,...,985,477,190,168,780,505,68,84,277,242
2,0500000US06001,6001,"Alameda County, California",21893,2167,2216,809,934,424,855,...,2169,612,2287,758,1500,561,1511,522,1538,492
3,0500000US06013,6013,"Contra Costa County, California",14060,2003,543,413,783,454,776,...,1692,604,1504,675,888,374,1123,516,1125,506
4,0500000US06019,6019,"Fresno County, California",7112,1045,993,405,529,451,672,...,885,455,428,270,175,159,257,289,316,258

In [20]:
census_mixed_2013_pd["Year"]="2013"
census_mixed_2013_pd["Race"]="Mixed"
census_mixed_2013_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more",Year,Race
0,0500000US04013,4013,"Maricopa County, Arizona",25246,2390,2497,793,1530,763,1335,...,2517,797,967,412,1265,637,624,609,2013,Mixed
1,0500000US04019,4019,"Pima County, Arizona",9347,1389,1196,509,414,287,671,...,190,168,780,505,68,84,277,242,2013,Mixed
2,0500000US06001,6001,"Alameda County, California",21893,2167,2216,809,934,424,855,...,2287,758,1500,561,1511,522,1538,492,2013,Mixed
3,0500000US06013,6013,"Contra Costa County, California",14060,2003,543,413,783,454,776,...,1504,675,888,374,1123,516,1125,506,2013,Mixed
4,0500000US06019,6019,"Fresno County, California",7112,1045,993,405,529,451,672,...,428,270,175,159,257,289,316,258,2013,Mixed

In [21]:
# Import the census data into a pandas DataFrame
census_mixed_2016_pd = pd.read_csv("census_data/Mixed/ACS_16_1YR_B19001G_with_ann.csv")

# Preview the data
census_mixed_2016_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
0,0500000US02020,2020,"Anchorage Municipality, Alaska",6009,1040,142,177,164,267,117,...,589,374,561,310,360,262,929,486,172,166
1,0500000US04013,4013,"Maricopa County, Arizona",32076,2968,2415,738,1696,608,1622,...,4259,998,2251,774,1821,625,1494,666,1714,585
2,0500000US04019,4019,"Pima County, Arizona",12915,2008,837,521,1693,795,382,...,1017,468,1095,471,376,215,128,154,595,312
3,0500000US06001,6001,"Alameda County, California",24065,2129,822,489,959,456,500,...,3444,967,1844,558,1645,585,2715,763,3464,721
4,0500000US06013,6013,"Contra Costa County, California",20190,2171,1709,765,1150,639,785,...,3965,1455,2101,710,1134,445,2328,1052,1526,656

In [22]:
census_mixed_2016_pd["Year"]="2016"
census_mixed_2016_pd["Race"]="Mixed"
census_mixed_2016_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more",Year,Race
0,0500000US02020,2020,"Anchorage Municipality, Alaska",6009,1040,142,177,164,267,117,...,561,310,360,262,929,486,172,166,2016,Mixed
1,0500000US04013,4013,"Maricopa County, Arizona",32076,2968,2415,738,1696,608,1622,...,2251,774,1821,625,1494,666,1714,585,2016,Mixed
2,0500000US04019,4019,"Pima County, Arizona",12915,2008,837,521,1693,795,382,...,1095,471,376,215,128,154,595,312,2016,Mixed
3,0500000US06001,6001,"Alameda County, California",24065,2129,822,489,959,456,500,...,1844,558,1645,585,2715,763,3464,721,2016,Mixed
4,0500000US06013,6013,"Contra Costa County, California",20190,2171,1709,765,1150,639,785,...,2101,710,1134,445,2328,1052,1526,656,2016,Mixed

In [24]:
# Concatenate dataframes
census_mixed_total_pd = pd.concat([census_mixed_2000_pd, census_mixed_2005_pd, census_mixed_2008_pd, census_mixed_2010_pd, census_mixed_2013_pd, census_mixed_2016_pd], ignore_index=True)
census_mixed_total_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more",Year,Race
0,0500000US01001,1001,"Autauga County, Alabama",171,NaN,21,NaN,9,NaN,28,...,0,NaN,0,NaN,0,NaN,6,NaN,2000,Mixed
1,0500000US01003,1003,"Baldwin County, Alabama",566,NaN,47,NaN,23,NaN,59,...,8,NaN,5,NaN,0,NaN,6,NaN,2000,Mixed
2,0500000US01005,1005,"Barbour County, Alabama",75,NaN,18,NaN,20,NaN,5,...,0,NaN,0,NaN,6,NaN,0,NaN,2000,Mixed
3,0500000US01007,1007,"Bibb County, Alabama",61,NaN,2,NaN,29,NaN,6,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Mixed
4,0500000US01009,1009,"Blount County, Alabama",183,NaN,17,NaN,0,NaN,11,...,20,NaN,11,NaN,6,NaN,0,NaN,2000,Mixed

In [25]:
# Save Data to csv
census_mixed_total_pd.to_csv("census_data/census_mixed_total_pd.csv")