In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time

In [3]:
# Import the census data into a pandas DataFrame
census_other_2000_pd = pd.read_csv("census_data/Other/DEC_00_SF3_P151F_with_ann.csv")

# Preview the data
census_other_2000_pd.head()

,GEO.id,GEO.id2,GEO.display-label,VD01,VD02,VD03,VD04,VD05,VD06,VD07,VD08,VD09,VD10,VD11,VD12,VD13,VD14,VD15,VD16,VD17
0,Id,Id2,Geography,Total:,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999","$40,000 to $44,999","$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more"
1,0500000US01001,01001,"Autauga County, Alabama",31,7,0,0,8,0,0,0,0,9,0,0,7,0,0,0,0
2,0500000US01003,01003,"Baldwin County, Alabama",212,22,31,5,36,10,13,28,0,30,0,11,10,0,0,2,14
3,0500000US01005,01005,"Barbour County, Alabama",57,10,10,2,0,2,0,11,8,0,0,1,13,0,0,0,0
4,0500000US01007,01007,"Bibb County, Alabama",15,0,0,0,0,0,0,5,0,10,0,0,0,0,0,0,0

In [4]:
census_other_2000_pd["Year"] = "2000"
census_other_2000_pd["Race"] = "Other"
census_other_2000_pd.head()

,GEO.id,GEO.id2,GEO.display-label,VD01,VD02,VD03,VD04,VD05,VD06,VD07,...,VD10,VD11,VD12,VD13,VD14,VD15,VD16,VD17,Year,Race
0,Id,Id2,Geography,Total:,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999",...,"$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",2000,Other
1,0500000US01001,01001,"Autauga County, Alabama",31,7,0,0,8,0,0,...,9,0,0,7,0,0,0,0,2000,Other
2,0500000US01003,01003,"Baldwin County, Alabama",212,22,31,5,36,10,13,...,30,0,11,10,0,0,2,14,2000,Other
3,0500000US01005,01005,"Barbour County, Alabama",57,10,10,2,0,2,0,...,0,0,1,13,0,0,0,0,2000,Other
4,0500000US01007,01007,"Bibb County, Alabama",15,0,0,0,0,0,0,...,10,0,0,0,0,0,0,0,2000,Other

In [5]:
# Import the census data into a pandas DataFrame
census_other_2005_pd = pd.read_csv("census_data/Other/ACS_05_EST_B19001F_with_ann.csv")

# Preview the data
census_other_2005_pd.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD13,HD02_VD13,HD01_VD14,HD02_VD14,HD01_VD15,HD02_VD15,HD01_VD16,HD02_VD16,HD01_VD17,HD02_VD17
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $75,000 to $99,999","Margin of Error; $75,000 to $99,999","Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more"
1,0500000US04013,04013,"Maricopa County, Arizona",101811,4900,6562,1434,7316,1972,7081,...,8200,1409,4636,1195,1637,611,718,317,666,407
2,0500000US04019,04019,"Pima County, Arizona",46916,2963,4345,1269,3923,1195,3813,...,3217,899,1092,532,420,246,305,309,382,288
3,0500000US04021,04021,"Pinal County, Arizona",10177,1438,1102,604,829,543,1378,...,836,529,183,261,181,201,0,291,0,291
4,0500000US04027,04027,"Yuma County, Arizona",11391,1886,2547,950,825,512,367,...,622,501,139,205,331,344,0,291,0,291

In [10]:
census_other_2005_pd["Year"] = "2005"
census_other_2005_pd["Race"] = "Other"
census_other_2005_pd.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD14,HD02_VD14,HD01_VD15,HD02_VD15,HD01_VD16,HD02_VD16,HD01_VD17,HD02_VD17,Year,Race
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more",2005,Other
1,0500000US04013,04013,"Maricopa County, Arizona",101811,4900,6562,1434,7316,1972,7081,...,4636,1195,1637,611,718,317,666,407,2005,Other
2,0500000US04019,04019,"Pima County, Arizona",46916,2963,4345,1269,3923,1195,3813,...,1092,532,420,246,305,309,382,288,2005,Other
3,0500000US04021,04021,"Pinal County, Arizona",10177,1438,1102,604,829,543,1378,...,183,261,181,201,0,291,0,291,2005,Other
4,0500000US04027,04027,"Yuma County, Arizona",11391,1886,2547,950,825,512,367,...,139,205,331,344,0,291,0,291,2005,Other

In [11]:
# Import the census data into a pandas DataFrame
census_other_2008_pd = pd.read_csv("census_data/Other/ACS_08_1YR_B19001F_with_ann.csv")

# Preview the data
census_other_2008_pd.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD13,HD02_VD13,HD01_VD14,HD02_VD14,HD01_VD15,HD02_VD15,HD01_VD16,HD02_VD16,HD01_VD17,HD02_VD17
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $75,000 to $99,999","Margin of Error; $75,000 to $99,999","Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more"
1,0500000US04013,04013,"Maricopa County, Arizona",57964,3921,2506,870,2129,763,3169,...,8383,1619,3122,913,1688,782,1293,684,457,303
2,0500000US04019,04019,"Pima County, Arizona",23450,2497,3352,918,2274,920,1605,...,1714,638,1274,508,422,366,260,262,102,120
3,0500000US04021,04021,"Pinal County, Arizona",13091,2333,929,700,456,488,1353,...,1198,833,794,425,20,35,0,302,0,302
4,0500000US04027,04027,"Yuma County, Arizona",11467,1659,1306,618,1034,653,815,...,394,373,307,301,60,97,171,200,0,302

In [12]:
census_other_2008_pd["Year"] = "2008"
census_other_2008_pd["Race"] = "Other"
census_other_2008_pd.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD14,HD02_VD14,HD01_VD15,HD02_VD15,HD01_VD16,HD02_VD16,HD01_VD17,HD02_VD17,Year,Race
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more",2008,Other
1,0500000US04013,04013,"Maricopa County, Arizona",57964,3921,2506,870,2129,763,3169,...,3122,913,1688,782,1293,684,457,303,2008,Other
2,0500000US04019,04019,"Pima County, Arizona",23450,2497,3352,918,2274,920,1605,...,1274,508,422,366,260,262,102,120,2008,Other
3,0500000US04021,04021,"Pinal County, Arizona",13091,2333,929,700,456,488,1353,...,794,425,20,35,0,302,0,302,2008,Other
4,0500000US04027,04027,"Yuma County, Arizona",11467,1659,1306,618,1034,653,815,...,307,301,60,97,171,200,0,302,2008,Other

In [13]:
# Import the census data into a pandas DataFrame
census_other_2010_pd = pd.read_csv("census_data/Other/ACS_10_1YR_B19001F_with_ann.csv")

# Preview the data
census_other_2010_pd.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD13,HD02_VD13,HD01_VD14,HD02_VD14,HD01_VD15,HD02_VD15,HD01_VD16,HD02_VD16,HD01_VD17,HD02_VD17
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
1,0500000US04013,04013,"Maricopa County, Arizona",56246,4244,5245,1240,3236,875,3785,...,6105,1430,1717,649,1170,625,143,138,255,234
2,0500000US04019,04019,"Pima County, Arizona",20608,2487,2228,764,2543,958,1257,...,1699,765,703,409,544,417,102,120,103,123
3,0500000US04021,04021,"Pinal County, Arizona",8153,2062,734,651,1172,743,0,...,895,618,233,291,204,202,0,305,0,305
4,0500000US04027,04027,"Yuma County, Arizona",8409,1454,813,593,372,346,467,...,1296,809,649,569,276,416,440,411,0,305

In [15]:
census_other_2010_pd["Year"] = "2010"
census_other_2010_pd["Race"] = "Other"
census_other_2010_pd.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD14,HD02_VD14,HD01_VD15,HD02_VD15,HD01_VD16,HD02_VD16,HD01_VD17,HD02_VD17,Year,Race
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more",2010,Other
1,0500000US04013,04013,"Maricopa County, Arizona",56246,4244,5245,1240,3236,875,3785,...,1717,649,1170,625,143,138,255,234,2010,Other
2,0500000US04019,04019,"Pima County, Arizona",20608,2487,2228,764,2543,958,1257,...,703,409,544,417,102,120,103,123,2010,Other
3,0500000US04021,04021,"Pinal County, Arizona",8153,2062,734,651,1172,743,0,...,233,291,204,202,0,305,0,305,2010,Other
4,0500000US04027,04027,"Yuma County, Arizona",8409,1454,813,593,372,346,467,...,649,569,276,416,440,411,0,305,2010,Other

In [16]:
# Import the census data into a pandas DataFrame
census_other_2013_pd = pd.read_csv("census_data/Other/ACS_13_1YR_B19001F_with_ann.csv")

# Preview the data
census_other_2013_pd.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD13,HD02_VD13,HD01_VD14,HD02_VD14,HD01_VD15,HD02_VD15,HD01_VD16,HD02_VD16,HD01_VD17,HD02_VD17
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
1,0500000US04013,04013,"Maricopa County, Arizona",59190,3828,6127,1209,3047,845,4771,...,5710,1294,2712,697,1363,639,582,326,372,328
2,0500000US04019,04019,"Pima County, Arizona",27378,2232,3111,924,2768,1143,2787,...,1684,552,1004,457,916,487,199,197,207,334
3,0500000US04027,04027,"Yuma County, Arizona",9411,1368,845,596,601,485,551,...,943,528,522,377,192,308,0,203,0,203
4,0500000US06001,06001,"Alameda County, California",32978,2391,682,352,835,363,1768,...,5295,1290,2512,891,1711,780,1537,590,714,357

In [17]:
census_other_2013_pd["Year"] = "2013"
census_other_2013_pd["Race"] = "Other"
census_other_2013_pd.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD14,HD02_VD14,HD01_VD15,HD02_VD15,HD01_VD16,HD02_VD16,HD01_VD17,HD02_VD17,Year,Race
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more",2013,Other
1,0500000US04013,04013,"Maricopa County, Arizona",59190,3828,6127,1209,3047,845,4771,...,2712,697,1363,639,582,326,372,328,2013,Other
2,0500000US04019,04019,"Pima County, Arizona",27378,2232,3111,924,2768,1143,2787,...,1004,457,916,487,199,197,207,334,2013,Other
3,0500000US04027,04027,"Yuma County, Arizona",9411,1368,845,596,601,485,551,...,522,377,192,308,0,203,0,203,2013,Other
4,0500000US06001,06001,"Alameda County, California",32978,2391,682,352,835,363,1768,...,2512,891,1711,780,1537,590,714,357,2013,Other

In [18]:
# Import the census data into a pandas DataFrame
census_other_2016_pd = pd.read_csv("census_data/Other/ACS_16_1YR_B19001F_with_ann.csv")

# Preview the data
census_other_2016_pd.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD13,HD02_VD13,HD01_VD14,HD02_VD14,HD01_VD15,HD02_VD15,HD01_VD16,HD02_VD16,HD01_VD17,HD02_VD17
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
1,0500000US04013,04013,"Maricopa County, Arizona",93671,4023,8429,1278,5754,1343,5011,...,9587,1459,4617,1165,2238,779,1090,497,841,439
2,0500000US04019,04019,"Pima County, Arizona",29588,2836,2536,1033,2822,1148,3025,...,2855,1085,549,294,448,320,704,532,307,289
3,0500000US04021,04021,"Pinal County, Arizona",4167,1066,244,220,582,434,238,...,257,206,93,86,183,266,47,78,0,204
4,0500000US04027,04027,"Yuma County, Arizona",22780,2113,1116,588,1306,637,1918,...,3879,1314,302,320,532,488,204,248,328,339

In [19]:
census_other_2016_pd["Year"] = "2016"
census_other_2016_pd["Race"] = "Other"
census_other_2016_pd.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD14,HD02_VD14,HD01_VD15,HD02_VD15,HD01_VD16,HD02_VD16,HD01_VD17,HD02_VD17,Year,Race
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more",2016,Other
1,0500000US04013,04013,"Maricopa County, Arizona",93671,4023,8429,1278,5754,1343,5011,...,4617,1165,2238,779,1090,497,841,439,2016,Other
2,0500000US04019,04019,"Pima County, Arizona",29588,2836,2536,1033,2822,1148,3025,...,549,294,448,320,704,532,307,289,2016,Other
3,0500000US04021,04021,"Pinal County, Arizona",4167,1066,244,220,582,434,238,...,93,86,183,266,47,78,0,204,2016,Other
4,0500000US04027,04027,"Yuma County, Arizona",22780,2113,1116,588,1306,637,1918,...,302,320,532,488,204,248,328,339,2016,Other

In [21]:
# Concatenate dataframes
census_other_total_pd = pd.concat([census_other_2000_pd, census_other_2005_pd, census_other_2008_pd, census_other_2010_pd, census_other_2013_pd, census_other_2016_pd], ignore_index=True)
census_other_total_pd

,GEO.display-label,GEO.id,GEO.id2,HD01_VD01,HD01_VD02,HD01_VD03,HD01_VD04,HD01_VD05,HD01_VD06,HD01_VD07,...,VD09,VD10,VD11,VD12,VD13,VD14,VD15,VD16,VD17,Year
0,Geography,Id,Id2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$40,000 to $44,999","$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",2005
1,"Autauga County, Alabama",0500000US01001,01001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,9,0,0,7,0,0,0,0,2005
2,"Baldwin County, Alabama",0500000US01003,01003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,30,0,11,10,0,0,2,14,2005
3,"Barbour County, Alabama",0500000US01005,01005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8,0,0,1,13,0,0,0,0,2005
4,"Bibb County, Alabama",0500000US01007,01007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,10,0,0,0,0,0,0,0,2005
5,"Blount County, Alabama",0500000US01009,01009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14,17,3,18,16,14,0,0,0,2005
6,"Bullock County, Alabama",0500000US01011,01011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2005
7,"Butler County, Alabama",0500000US01013,01013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2005
8,"Calhoun County, Alabama",0500000US01015,01015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,18,23,0,5,0,0,4,0,2005
9,"Chambers County, Alabama",0500000US01017,01017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12,0,0,0,0,0,0,0,0,2005
10,"Cherokee County, Alabama",0500000US01019,01019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0,0,0,0,0,0,0,0,2005
11,"Chilton County, Alabama",0500000US01021,01021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,0,3,3,3,3,0,0,0,2005
12,"Choctaw County, Alabama",0500000US01023,01023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2005
13,"Clarke County, Alabama",0500000US01025,01025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2005
14,"Clay County, Alabama",0500000US01027,01027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8,0,0,0,3,0,0,0,0,2005
15,"Cleburne County, Alabama",0500000US01029,01029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2005
16,"Coffee County, Alabama",0500000US01031,01031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7,9,0,4,0,0,0,0,0,2005
17,"Colbert County, Alabama",0500000US01033,01033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,6,2,5,0,0,0,0,0,2005
18,"Conecuh County, Alabama",0500000US01035,01035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2005
19,"Coosa County, Alabama",0500000US01037,01037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2005
20,"Covington County, Alabama",0500000US01039,01039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2005
21,"Crenshaw County, Alabama",0500000US01041,01041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0,0,2005
22,"Cullman County, Alabama",0500000US01043,01043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,12,14,10,0,0,0,0,0,2005
23,"Dale County, Alabama",0500000US01045,01045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7,2,12,10,3,0,0,0,3,2005
24,"Dallas County, Alabama",0500000US01047,01047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2005
25,"DeKalb County, Alabama",0500000US01049,01049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6,27,38,23,29,0,0,0,0,2005
26,"Elmore County, Alabama",0500000US01051,01051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,8,2,0,0,0,10,0,2005
27,"Escambia County, Alabama",0500000US01053,01053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,2,0,6,0,0,0,0,0,2005
28,"Etowah County, Alabama",0500000US01055,01055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7,0,0,26,5,0,0,0,0,2005
29,"Fayette County, Alabama",0500000US01057,01057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,6,0,0,0,0,0,0,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3748,"Oklahoma County, Oklahoma",0500000US40109,40109,7040,713,478,292,815,161,235,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3749,"Tulsa County, Oklahoma",0500000US40143,40143,7616,626,680,699,508,764,611,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3750,"Berks County, Pennsylvania",0500000US42011,42011,3836,330,371,140,237,158,107,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3751,"Lehigh County, Pennsylvania",0500000US42077,42077,7932,1067,623,665,18,652,1094,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3752,"Philadelphia County, Pennsylvania",0500000US42101,42101,31139,5657,2416,2943,2763,1804,3252,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3753,"Providence County, Rhode Island",0500000US44007,44007,15889,2985,1633,700,518,910,1139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3754,"Shelby County, Tennessee",0500000US47157,47157,6151,367,453,374,551,481,624,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3755,"Bexar County, Texas",0500000US48029,48029,38866,3517,2177,2384,2790,2707,2615,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3756,"Cameron County, Texas",0500000US48061,48061,4403,595,577,517,0,503,176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3757,"Collin County, Texas",0500000US48085,48085,6812,151,114,111,121,824,481,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3758,"Dallas County, Texas",0500000US48113,48113,43632,1315,1741,2913,3494,3218,2564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3759,"Denton County, Texas",0500000US48121,48121,7820,328,375,94,540,180,184,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3760,"El Paso County, Texas",0500000US48141,48141,27278,2415,2498,2804,1457,2206,2164,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3761,"Fort Bend County, Texas",0500000US48157,48157,10377,1150,498,59,393,508,647,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3762,"Guadalupe County, Texas",0500000US48187,48187,8794,1157,330,314,362,100,958,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3763,"Harris County, Texas",0500000US48201,48201,113958,6388,5700,8538,9168,7925,8893,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3764,"Hidalgo County, Texas",0500000US48215,48215,30055,4875,3594,3064,3303,787,1285,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3765,"Lubbock County, Texas",0500000US48303,48303,5432,226,511,152,706,717,149,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3766,"Tarrant County, Texas",0500000US48439,48439,36752,1828,1887,1028,1928,1814,3831,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3767,"Travis County, Texas",0500000US48453,48453,22864,1282,1681,766,749,1993,1418,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3768,"Salt Lake County, Utah",0500000US49035,49035,26766,1342,1214,1320,1543,1689,1417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3769,"Fairfax County, Virginia",0500000US51059,51059,11276,144,332,376,391,112,520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3770,"Prince William County, Virginia",0500000US51153,51153,9613,1187,395,261,0,681,311,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3771,"Franklin County, Washington",0500000US53021,53021,6851,765,258,106,161,600,387,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3772,"Grant County, Washington",0500000US53025,53025,5752,64,515,527,136,780,325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3773,"King County, Washington",0500000US53033,53033,26314,999,681,1183,669,993,1011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3774,"Pierce County, Washington",0500000US53053,53053,7604,292,341,353,523,774,457,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3775,"Snohomish County, Washington",0500000US53061,53061,6530,85,332,131,0,467,563,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3776,"Yakima County, Washington",0500000US53077,53077,7580,692,606,312,529,343,388,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3777,"Milwaukee County, Wisconsin",0500000US55079,55079,16253,2130,794,1513,856,673,1422,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016

In [23]:
# Save Data to csv
census_other_total_pd.to_csv("census_data/census_other_total_pd.csv")