In [1]:
#import dependencies
import pandas as pd
import json
from flask import Flask, render_template,jsonify

# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float ,Date

from sqlalchemy.orm import Session

from sqlalchemy import inspect
from sqlalchemy.ext.automap import automap_base

In [2]:
# ===========================Database Connection========================

# Create Database Connection
engine = create_engine("sqlite:///censusdata.sqlite", echo=False)
Base = automap_base()
Base.prepare(engine, reflect=True)
session = Session(engine)

conn = engine.connect()
#Base.metadata.create_all(conn)
session = Session(bind=engine)

In [3]:
aian = Base.classes.census_aian
asian = Base.classes.census_asian
black = Base.classes.census_black
hispanic = Base.classes.census_hispanic
mixed = Base.classes.census_mixed
other = Base.classes.census_other
whites = Base.classes.census_whites

In [4]:
# the queries
df_aian = pd.read_sql_query("select CountyID,CountyName,TotalPopulation,Year from census_aian;", conn)
df_aian["ID"]=df_aian["CountyID"]+df_aian["Year"]

df_aian=df_aian.rename(columns={'TotalPopulation': 'aian_population'})
df_aian.head()

  CountyID                      CountyName  aian_population  Year        ID
0     2020  Anchorage Municipality, Alaska             8091  2000  20202000
1     4001          Apache County, Arizona            12081  2000  40012000
2     4005        Coconino County, Arizona             8367  2000  40052000
3     4013        Maricopa County, Arizona            20744  2000  40132000
4     4017          Navajo County, Arizona            13271  2000  40172000

In [5]:
df_asian = pd.read_sql_query("select CountyID,CountyName,TotalPopulation,Year from census_asian;", conn)
df_asian["ID"]=df_asian["CountyID"]+df_asian["Year"]

df_asian = df_asian.rename(columns={'TotalPopulation': 'asian_population'})
df_asian.loc[df_asian['CountyID']=='1001']

  CountyID               CountyName  asian_population  Year        ID
0     1001  Autauga County, Alabama                43  2000  10012000

In [6]:
df_black = pd.read_sql_query("select CountyID,CountyName,TotalPopulation,Year from census_black;", conn)
df_black["ID"]=df_black["CountyID"]+df_black["Year"]
df_black=df_black.rename(columns={'TotalPopulation': 'black_population'})
df_black.head()

  CountyID               CountyName  black_population  Year        ID
0     1001  Autauga County, Alabama              2566  2000  10012000
1     1003  Baldwin County, Alabama              4650  2000  10032000
2     1005  Barbour County, Alabama              4446  2000  10052000
3     1007     Bibb County, Alabama              1306  2000  10072000
4     1009   Blount County, Alabama               146  2000  10092000

In [7]:
df_hispanic = pd.read_sql_query("select CountyID,CountyName,TotalPopulation,Year from census_hispanic;", conn)
df_hispanic["ID"]=df_hispanic["CountyID"]+df_hispanic["Year"]

df_hispanic=df_hispanic.rename(columns={'TotalPopulation': 'hispanic_population'})
df_hispanic.head()

  CountyID               CountyName  hispanic_population  Year        ID
0     1001  Autauga County, Alabama                  107  2000  10012000
1     1003  Baldwin County, Alabama                  605  2000  10032000
2     1005  Barbour County, Alabama                  103  2000  10052000
3     1007     Bibb County, Alabama                   43  2000  10072000
4     1009   Blount County, Alabama                  606  2000  10092000

In [8]:
df_mixed = pd.read_sql_query("select CountyID,CountyName,TotalPopulation,Year from census_mixed;", conn)
df_mixed["ID"]=df_mixed["CountyID"]+df_mixed["Year"]
df_mixed=df_mixed.rename(columns={'TotalPopulation': 'mixed_population'})
df_mixed.head()

  CountyID               CountyName  mixed_population  Year        ID
0     1001  Autauga County, Alabama               171  2000  10012000
1     1003  Baldwin County, Alabama               566  2000  10032000
2     1005  Barbour County, Alabama                75  2000  10052000
3     1007     Bibb County, Alabama                61  2000  10072000
4     1009   Blount County, Alabama               183  2000  10092000

In [9]:
df_other = pd.read_sql_query("select CountyID,CountyName,TotalPopulation,Year from census_other;", conn)
df_other["ID"]=df_other["CountyID"]+df_other["Year"]
df_other=df_other.rename(columns={'TotalPopulation': 'other_population'})
df_other.head()

  CountyID               CountyName  other_population  Year        ID
0     1001  Autauga County, Alabama                31  2000  10012000
1     1003  Baldwin County, Alabama               212  2000  10032000
2     1005  Barbour County, Alabama                57  2000  10052000
3     1007     Bibb County, Alabama                15  2000  10072000
4     1009   Blount County, Alabama               307  2000  10092000

In [10]:
df_whites = pd.read_sql_query("select CountyID,CountyName,TotalPopulation,Year from census_whites;", conn)
df_whites["ID"]=df_whites["CountyID"]+df_whites["Year"]
# df_whites=df_whites.set_index('ID')
df_whites=df_whites.rename(columns={'TotalPopulation': 'whites_population'})

In [30]:
result=pd.merge((pd.merge((pd.merge((pd.merge((pd.merge(pd.merge(df_whites,df_other,on='ID', how='outer'),df_mixed,on='ID', how='outer')),df_hispanic,on='ID', how='outer')),df_black,on='ID', how='outer')),df_asian,on='ID', how='outer')),df_aian,on='ID', how='outer')
result['Year'].unique()

array([nan, '2000', '2005', '2008', '2010', '2013', '2016'], dtype=object)

In [31]:
merge_data=result.drop(['CountyID_y','CountyName_y','Year_y','CountyID_x','CountyName_x','Year_x'], axis=1)

In [60]:
merge_data = merge_data.fillna(0)  
merge_data=merge_data.drop_duplicates()
merge_data.head()

,whites_population,ID,other_population,mixed_population,hispanic_population,black_population,asian_population,CountyID,CountyName,aian_population,Year,Total
0,13103.0,10012000,31.0,171.0,107.0,2566.0,43.0,0,0,0.0,0,16021.0
2,49458.0,10032000,212.0,566.0,605.0,4650.0,132.0,0,0,0.0,0,55623.0
4,5815.0,10052000,57.0,75.0,103.0,4446.0,3.0,0,0,0.0,0,10499.0
6,5978.0,10072000,15.0,61.0,43.0,1306.0,6.0,0,0,0.0,0,7409.0
8,18397.0,10092000,307.0,183.0,606.0,146.0,35.0,0,0,0.0,0,19674.0

In [67]:
merge_data['Total']=merge_data['other_population']+merge_data['mixed_population']+merge_data['hispanic_population']+merge_data['black_population'] + merge_data['asian_population']+merge_data['aian_population']+merge_data['whites_population']

In [68]:
merge_new=merge_data[merge_data.Year != 0]

In [69]:
merge_new.head()

,whites_population,ID,other_population,mixed_population,hispanic_population,black_population,asian_population,CountyID,CountyName,aian_population,Year,Total
138,74229.0,20202000,1618.0,3596.0,3889.0,5388.0,4155.0,2020,"Anchorage Municipality, Alaska",8091.0,2000,100966.0
188,5143.0,40012000,329.0,201.0,816.0,29.0,39.0,4001,"Apache County, Arizona",12081.0,2000,18638.0
192,29387.0,40052000,1311.0,585.0,3617.0,501.0,291.0,4005,"Coconino County, Arizona",8367.0,2000,44059.0
202,942545.0,40132000,87938.0,23455.0,186066.0,40573.0,21698.0,4013,"Maricopa County, Arizona",20744.0,2000,1323019.0
206,16674.0,40172000,943.0,487.0,2056.0,246.0,48.0,4017,"Navajo County, Arizona",13271.0,2000,33725.0

In [70]:
merge_new['%white']=(merge_new['whites_population']/merge_new['Total'])*100
merge_new['%black']=(merge_new['black_population']/merge_new['Total'])*100
merge_new['%mixed']=(merge_new['mixed_population']/merge_new['Total'])*100
merge_new['%others']=(merge_new['other_population']/merge_new['Total'])*100
merge_new['%asian']=(merge_new['asian_population']/merge_new['Total'])*100
merge_new['%aian']=(merge_new['aian_population']/merge_new['Total'])*100
merge_new['%hispanic']=(merge_new['hispanic_population']/merge_new['Total'])*100

/Users/sumana/anaconda/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/sumana/anaconda/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/sumana/anaconda/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/sumana/anaconda/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sumana/anaconda/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sumana/anaconda/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sumana/anaconda/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [71]:
merge_new=merge_new.drop(['Total','other_population','mixed_population','hispanic_population','black_population','asian_population','aian_population','whites_population'], axis=1)

In [72]:
merge_new

,ID,CountyID,CountyName,Year,%white,%black,%mixed,%others,%asian,%aian,%hispanic
138,20202000,2020,"Anchorage Municipality, Alaska",2000,73.518808,5.336450,3.561595,1.602520,4.115247,8.013589,3.851792
188,40012000,4001,"Apache County, Arizona",2000,27.594162,0.155596,1.078442,1.765211,0.209250,64.819187,4.378152
192,40052000,4005,"Coconino County, Arizona",2000,66.699199,1.137112,1.327765,2.975556,0.660478,18.990445,8.209446
202,40132000,4013,"Maricopa County, Arizona",2000,71.241985,3.066698,1.772839,6.646768,1.640037,1.567929,14.063744
206,40172000,4017,"Navajo County, Arizona",2000,49.441067,0.729429,1.444033,2.796145,0.142328,39.350630,6.096368
208,40192000,4019,"Pima County, Arizona",2000,66.352851,2.252187,1.943213,7.810273,1.451809,2.679088,17.510580
404,60372000,6037,"Los Angeles County, California",2000,42.380297,8.344150,3.330040,12.365746,8.750076,0.350952,24.478740
426,60592000,6059,"Orange County, California",2000,61.837165,1.410392,2.657253,7.510470,9.836542,0.356720,16.391458
432,60652000,6065,"Riverside County, California",2000,58.847547,4.695755,2.583208,10.259612,2.415036,1.020529,20.178313
434,60672000,6067,"Sacramento County, California",2000,63.614878,8.287711,3.732617,4.904879,7.755439,1.033572,10.670904
438,60712000,6071,"San Bernardino County, California",2000,51.138467,7.007270,3.135105,11.924323,3.275692,0.919531,22.599612
440,60732000,6073,"San Diego County, California",2000,63.238494,4.677192,2.865043,7.185384,5.995228,0.501877,15.536782
1214,170312000,17031,"Cook County, Illinois",2000,55.196134,21.225248,1.871457,5.740876,3.875222,0.200604,11.890460
3584,350012000,35001,"Bernalillo County, New Mexico",2000,56.032440,2.102353,2.618163,9.446047,1.090121,3.169743,25.541133
3618,350312000,35031,"McKinley County, New Mexico",2000,24.732782,0.566967,1.654429,6.241286,0.548378,53.434334,12.821824
3630,350432000,35043,"Sandoval County, New Mexico",2000,55.939998,1.315628,1.986967,9.170048,0.422968,10.886512,20.277880
3632,350452000,35045,"San Juan County, New Mexico",2000,52.337257,0.425784,1.509597,5.792482,0.182154,28.211025,11.541702
3928,371552000,37155,"Robeson County, North Carolina",2000,36.536143,23.529937,1.160870,1.578336,0.567040,33.732196,2.895477
4282,400272000,40027,"Cleveland County, Oklahoma",2000,83.089831,2.895193,3.485451,1.129296,2.520793,3.911071,2.968365
4364,401092000,40109,"Oklahoma County, Oklahoma",2000,70.650880,13.004519,3.293795,2.721391,2.144041,2.705491,5.479883
4386,401312000,40131,"Rogers County, Oklahoma",2000,76.144854,0.718550,5.741250,0.454009,0.235942,15.493512,1.211883
4398,401432000,40143,"Tulsa County, Oklahoma",2000,75.608796,9.733128,3.434898,1.857273,1.151594,4.262844,3.951466
5068,480292000,48029,"Bexar County, Texas",2000,49.419540,5.064755,2.154940,9.884521,1.064733,0.789397,31.622114
5240,482012000,48201,"Harris County, Texas",2000,50.702847,15.269034,2.086756,8.278271,3.681719,0.396792,19.584581
5936,530332000,53033,"King County, Washington",2000,77.603223,4.894937,2.819474,1.711809,8.459236,0.739258,3.772063
6303,20202005,2020,"Anchorage Municipality, Alaska",2005,78.176164,0.000000,4.963884,0.000000,5.952047,5.186597,5.721308
6306,40012005,4001,"Apache County, Arizona",2005,30.757654,0.000000,0.000000,0.000000,0.000000,69.242346,0.000000
6308,40052005,4005,"Coconino County, Arizona",2005,70.232579,0.000000,0.000000,0.000000,0.000000,20.384755,9.382666
6309,40132005,4013,"Maricopa County, Arizona",2005,68.531132,3.436146,1.048723,6.355827,2.109619,1.251238,17.267315
6312,40172005,4017,"Navajo County, Arizona",2005,58.241723,0.000000,0.000000,0.000000,0.000000,41.758277,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
10003,40052016,4005,"Coconino County, Arizona",2016,70.351566,0.000000,0.000000,0.000000,0.000000,18.919411,10.729023
10004,40132016,4013,"Maricopa County, Arizona",2016,66.548621,4.387521,1.731601,5.056765,3.009463,1.239534,18.026496
10007,40172016,4017,"Navajo County, Arizona",2016,61.518358,0.000000,0.000000,0.000000,0.000000,38.481642,0.000000
10008,40192016,4019,"Pima County, Arizona",2016,63.162995,2.258644,2.507986,5.745745,2.150868,1.926576,22.247187
10010,40212016,4021,"Pinal County, Arizona",2016,76.920890,0.000000,0.000000,2.820171,0.000000,3.226920,17.032019
10032,60192016,6019,"Fresno County, California",2016,48.379256,3.727837,1.806539,8.892689,5.963575,0.792527,30.437577
10042,60372016,6037,"Los Angeles County, California",2016,40.029097,7.060633,2.161262,12.311425,10.729016,0.453673,27.254894
10057,60652016,6065,"Riverside County, California",2016,48.120607,4.877421,1.978919,13.016153,4.066467,0.506834,27.433600
10061,60712016,6071,"San Bernardino County, California",2016,46.205835,6.544496,2.257962,9.495390,4.959621,0.596365,29.940330
10063,60732016,6073,"San Diego County, California",2016,61.555515,4.136342,2.667147,2.957268,8.179448,0.513263,19.991016
10222,170312016,17031,"Cook County, Illinois",2016,50.862729,20.485140,1.519552,6.090203,5.536289,0.206380,15.299707
10450,320032016,32003,"Clark County, Nevada",2016,54.436903,9.482346,2.745401,6.534710,7.330037,0.523196,18.947407
10488,350012016,35001,"Bernalillo County, New Mexico",2016,52.836066,1.730354,1.823032,9.202751,1.434640,3.156959,29.816197
10495,350432016,35043,"Sandoval County, New Mexico",2016,60.945073,0.000000,0.000000,6.712439,0.000000,6.550889,25.791599
10497,350452016,35045,"San Juan County, New Mexico",2016,55.991539,0.000000,0.000000,0.000000,0.000000,28.971337,15.037123
10498,350492016,35049,"Santa Fe County, New Mexico",2016,65.228082,0.000000,0.000000,3.788518,0.000000,2.204362,28.779038
10583,371552016,37155,"Robeson County, North Carolina",2016,31.895084,23.121835,0.000000,0.000000,0.000000,39.454188,5.528894
10641,400372016,40037,"Creek County, Oklahoma",2016,90.260198,0.000000,0.000000,0.000000,0.000000,9.739802,0.000000
10642,401012016,40101,"Muskogee County, Oklahoma",2016,70.861845,12.048193,0.000000,0.000000,0.000000,17.089963,0.000000
10643,401092016,40109,"Oklahoma County, Oklahoma",2016,63.799920,14.598015,4.353326,2.110267,2.384542,2.828778,9.925151
10646,401252016,40125,"Pottawatomie County, Oklahoma",2016,88.109575,0.000000,0.000000,0.000000,0.000000,11.890425,0.000000
10647,401312016,40131,"Rogers County, Oklahoma",2016,82.065544,0.000000,6.912207,0.000000,0.000000,11.022249,0.000000
10648,401432016,40143,"Tulsa County, Oklahoma",2016,68.044930,9.519010,5.342523,2.761361,2.279863,4.282358,7.769954
10650,401452016,40145,"Wagoner County, Oklahoma",2016,90.610873,0.000000,0.000000,0.000000,0.000000,9.389127,0.000000
10787,482012016,48201,"Harris County, Texas",2016,47.362988,15.349394,1.328306,5.286595,4.951793,0.221237,25.499686
10866,530092016,53009,"Clallam County, Washington",2016,97.204386,0.000000,0.000000,0.000000,0.000000,2.795614,0.000000
10875,530332016,53033,"King County, Washington",2016,66.983702,5.011041,4.054024,2.879365,14.344412,0.445462,6.281993
10886,530732016,53073,"Whatcom County, Washington",2016,90.437889,0.000000,0.000000,0.000000,0.000000,2.123545,7.438566
10887,530772016,53077,"Yakima County, Washington",2016,61.960455,0.000000,0.000000,7.069577,0.000000,2.807312,28.162656
10922,350312016,35031,"McKinley County, New Mexico",2016,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000,0.000000