In [50]:
#import dependencies
import pandas as pd
import json
from flask import Flask, render_template,jsonify

# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float ,Date

from sqlalchemy.orm import Session

from sqlalchemy import inspect
from sqlalchemy.ext.automap import automap_base

In [51]:
# ===========================Database Connection========================

# Create Database Connection
engine = create_engine("sqlite:///censusdata.sqlite", echo=False)
Base = automap_base()
Base.prepare(engine, reflect=True)
session = Session(engine)

conn = engine.connect()
#Base.metadata.create_all(conn)
session = Session(bind=engine)

In [52]:
aian = Base.classes.census_aian
asian = Base.classes.census_asian
black = Base.classes.census_black
hispanic = Base.classes.census_hispanic
mixed = Base.classes.census_mixed
other = Base.classes.census_other
whites = Base.classes.census_whites

In [53]:
# the queries
df_aian_high = pd.read_sql_query("select CountyID,CountyName,Over200000,Year from census_aian;", conn)
df_aian_high["ID"]=df_aian_high["CountyID"]+df_aian_high["Year"]
df_aian_high=df_aian_high.rename(columns={'Over200000': 'aian_high'})
df_aian_high.head()

  CountyID                      CountyName  aian_high  Year        ID
0     2020  Anchorage Municipality, Alaska        408  2000  20202000
1     4001          Apache County, Arizona         25  2000  40012000
2     4005        Coconino County, Arizona          0  2000  40052000
3     4013        Maricopa County, Arizona         55  2000  40132000
4     4017          Navajo County, Arizona         79  2000  40172000

In [54]:
df_asian_high = pd.read_sql_query("select CountyID,CountyName,Over200000,Year from census_asian;", conn)
df_asian_high["ID"]=df_asian_high["CountyID"]+df_asian_high["Year"]
df_asian_high = df_asian_high.rename(columns={'Over200000': 'asian_high'})
df_asian_high.head()

  CountyID               CountyName  asian_high  Year        ID
0     1001  Autauga County, Alabama           0  2000  10012000
1     1003  Baldwin County, Alabama          22  2000  10032000
2     1005  Barbour County, Alabama           0  2000  10052000
3     1007     Bibb County, Alabama           0  2000  10072000
4     1009   Blount County, Alabama          14  2000  10092000

In [55]:
df_black_high = pd.read_sql_query("select CountyID,CountyName,Over200000,Year from census_black;", conn)
df_black_high["ID"]=df_black_high["CountyID"]+df_black_high["Year"]
df_black_high=df_black_high.rename(columns={'Over200000': 'black_high'})
df_black_high.head()

  CountyID               CountyName  black_high  Year        ID
0     1001  Autauga County, Alabama          27  2000  10012000
1     1003  Baldwin County, Alabama          35  2000  10032000
2     1005  Barbour County, Alabama          28  2000  10052000
3     1007     Bibb County, Alabama           0  2000  10072000
4     1009   Blount County, Alabama           0  2000  10092000

In [56]:
df_hispanic_high = pd.read_sql_query("select CountyID,CountyName,Over200000,Year from census_hispanic;", conn)
df_hispanic_high["ID"]=df_hispanic_high["CountyID"]+df_hispanic_high["Year"]
df_hispanic_high=df_hispanic_high.rename(columns={'Over200000': 'hispanic_high'})
df_hispanic_high.head()

  CountyID               CountyName  hispanic_high  Year        ID
0     1001  Autauga County, Alabama              6  2000  10012000
1     1003  Baldwin County, Alabama             15  2000  10032000
2     1005  Barbour County, Alabama              0  2000  10052000
3     1007     Bibb County, Alabama              0  2000  10072000
4     1009   Blount County, Alabama              0  2000  10092000

In [57]:
df_mixed_high = pd.read_sql_query("select CountyID,CountyName,Over200000,Year from census_mixed;", conn)
df_mixed_high["ID"]=df_mixed_high["CountyID"]+df_mixed_high["Year"]
df_mixed_high=df_mixed_high.rename(columns={'Over200000': 'mixed_high'})
df_mixed_high.head()

  CountyID               CountyName  mixed_high  Year        ID
0     1001  Autauga County, Alabama           6  2000  10012000
1     1003  Baldwin County, Alabama           6  2000  10032000
2     1005  Barbour County, Alabama           0  2000  10052000
3     1007     Bibb County, Alabama           0  2000  10072000
4     1009   Blount County, Alabama           0  2000  10092000

In [58]:
df_other_high = pd.read_sql_query("select CountyID,CountyName,Over200000,Year from census_other;", conn)
df_other_high["ID"]=df_other_high["CountyID"]+df_other_high["Year"]
df_other_high=df_other_high.rename(columns={'Over200000': 'other_high'})
df_other_high.head()

  CountyID               CountyName  other_high  Year        ID
0     1001  Autauga County, Alabama           0  2000  10012000
1     1003  Baldwin County, Alabama          14  2000  10032000
2     1005  Barbour County, Alabama           0  2000  10052000
3     1007     Bibb County, Alabama           0  2000  10072000
4     1009   Blount County, Alabama           0  2000  10092000

In [59]:
df_whites_high = pd.read_sql_query("select CountyID,CountyName,Over200000,Year from census_whites;", conn)
df_whites_high["ID"]=df_whites_high["CountyID"]+df_whites_high["Year"]
df_whites_high=df_whites_high.rename(columns={'Over200000': 'whites_high'})
df_whites_high.head()

  CountyID               CountyName  whites_high  Year        ID
0     1001  Autauga County, Alabama          152  2000  10012000
1     1003  Baldwin County, Alabama          950  2000  10032000
2     1005  Barbour County, Alabama           58  2000  10052000
3     1007     Bibb County, Alabama           27  2000  10072000
4     1009   Blount County, Alabama           92  2000  10092000

In [60]:
result_high=pd.merge((pd.merge((pd.merge((pd.merge((pd.merge(pd.merge(df_whites_high,df_other_high,on='ID', how='outer'),df_mixed_high,on='ID', how='outer')),df_hispanic_high,on='ID', how='outer')),df_black_high,on='ID', how='outer')),df_asian_high,on='ID', how='outer')),df_aian_high,on='ID', how='outer')
result_high['Year'].unique()

array([nan, '2000', '2005', '2008', '2010', '2013', '2016'], dtype=object)

In [61]:
merge_data_high=result_high.drop(['CountyID_y','CountyName_y','Year_y','CountyID_x','CountyName_x','Year_x'], axis=1)

In [62]:
merge_data_high = merge_data_high.fillna(0)
merge_data_high=merge_data_high.drop_duplicates()
high_income=merge_data_high[merge_data_high.Year != 0]

In [63]:
high_income

,whites_high,ID,other_high,mixed_high,hispanic_high,black_high,asian_high,CountyID,CountyName,aian_high,Year
138,2240.0,20202000,5.0,28.0,45.0,45.0,64.0,2020,"Anchorage Municipality, Alaska",408.0,2000
188,36.0,40012000,0.0,0.0,7.0,0.0,0.0,4001,"Apache County, Arizona",25.0,2000
192,464.0,40052000,31.0,0.0,50.0,0.0,16.0,4005,"Coconino County, Arizona",0.0,2000
202,26455.0,40132000,481.0,287.0,1275.0,413.0,693.0,4013,"Maricopa County, Arizona",55.0,2000
206,136.0,40172000,0.0,0.0,8.0,0.0,0.0,4017,"Navajo County, Arizona",79.0,2000
208,5318.0,40192000,163.0,57.0,401.0,50.0,128.0,4019,"Pima County, Arizona",0.0,2000
404,87071.0,60372000,3864.0,2802.0,10697.0,4628.0,10144.0,6037,"Los Angeles County, California",212.0,2000
426,38697.0,60592000,871.0,874.0,2740.0,347.0,4070.0,6059,"Orange County, California",267.0,2000
432,8388.0,60652000,496.0,177.0,1007.0,234.0,426.0,6065,"Riverside County, California",309.0,2000
434,6133.0,60672000,154.0,164.0,470.0,294.0,720.0,6067,"Sacramento County, California",201.0,2000
438,5223.0,60712000,607.0,245.0,1293.0,286.0,581.0,6071,"San Bernardino County, California",0.0,2000
440,26280.0,60732000,527.0,557.0,1830.0,555.0,1437.0,6073,"San Diego County, California",30.0,2000
1214,53511.0,170312000,838.0,510.0,2620.0,4760.0,2574.0,17031,"Cook County, Illinois",0.0,2000
3584,3514.0,350012000,210.0,52.0,636.0,41.0,103.0,35001,"Bernalillo County, New Mexico",0.0,2000
3618,93.0,350312000,0.0,0.0,7.0,6.0,12.0,35031,"McKinley County, New Mexico",33.0,2000
3630,403.0,350432000,26.0,7.0,15.0,25.0,17.0,35043,"Sandoval County, New Mexico",0.0,2000
3632,267.0,350452000,9.0,7.0,19.0,0.0,0.0,35045,"San Juan County, New Mexico",87.0,2000
3928,178.0,371552000,3.0,0.0,3.0,30.0,26.0,37155,"Robeson County, North Carolina",109.0,2000
4282,945.0,400272000,6.0,85.0,19.0,7.0,46.0,40027,"Cleveland County, Oklahoma",86.0,2000
4364,4020.0,401092000,54.0,93.0,181.0,220.0,97.0,40109,"Oklahoma County, Oklahoma",43.0,2000
4386,268.0,401312000,9.0,18.0,9.0,6.0,0.0,40131,"Rogers County, Oklahoma",115.0,2000
4398,4253.0,401432000,24.0,103.0,52.0,127.0,40.0,40143,"Tulsa County, Oklahoma",172.0,2000
5068,7501.0,480292000,358.0,179.0,1608.0,255.0,185.0,48029,"Bexar County, Texas",0.0,2000
5240,30044.0,482012000,888.0,427.0,2786.0,1537.0,1334.0,48201,"Harris County, Texas",159.0,2000
5936,24485.0,530332000,109.0,291.0,370.0,447.0,1667.0,53033,"King County, Washington",0.0,2000
6303,3265.0,20202005,0.0,0.0,0.0,0.0,168.0,2020,"Anchorage Municipality, Alaska",43.0,2005
6306,0.0,40012005,0.0,0.0,0.0,0.0,0.0,4001,"Apache County, Arizona",72.0,2005
6308,983.0,40052005,0.0,0.0,0.0,0.0,0.0,4005,"Coconino County, Arizona",0.0,2005
6309,37706.0,40132005,666.0,116.0,2403.0,679.0,1253.0,4013,"Maricopa County, Arizona",0.0,2005
6312,194.0,40172005,0.0,0.0,0.0,0.0,0.0,4017,"Navajo County, Arizona",0.0,2005
...,...,...,...,...,...,...,...,...,...,...,...
10003,1182.0,40052016,0.0,0.0,0.0,0.0,0.0,4005,"Coconino County, Arizona",58.0,2016
10004,83499.0,40132016,841.0,1714.0,6315.0,1423.0,5814.0,4013,"Maricopa County, Arizona",418.0,2016
10007,234.0,40172016,0.0,0.0,0.0,0.0,0.0,4017,"Navajo County, Arizona",100.0,2016
10008,12604.0,40192016,307.0,595.0,1747.0,157.0,523.0,4019,"Pima County, Arizona",164.0,2016
10010,2274.0,40212016,0.0,0.0,265.0,0.0,0.0,4021,"Pinal County, Arizona",85.0,2016
10032,10266.0,60192016,378.0,264.0,2153.0,351.0,2158.0,6019,"Fresno County, California",0.0,2016
10042,203113.0,60372016,8915.0,8150.0,33549.0,12854.0,50374.0,6037,"Los Angeles County, California",557.0,2016
10057,27998.0,60652016,2564.0,1419.0,6665.0,2101.0,4132.0,6065,"Riverside County, California",250.0,2016
10061,16820.0,60712016,1040.0,1315.0,5279.0,1398.0,3992.0,6071,"San Bernardino County, California",249.0,2016
10063,83191.0,60732016,601.0,3461.0,7717.0,2209.0,13045.0,6073,"San Diego County, California",217.0,2016
10222,120689.0,170312016,2095.0,2422.0,7983.0,9120.0,15360.0,17031,"Cook County, Illinois",98.0,2016
10450,25328.0,320032016,321.0,752.0,3134.0,1217.0,3457.0,32003,"Clark County, Nevada",95.0,2016
10488,10539.0,350012016,436.0,280.0,2623.0,236.0,197.0,35001,"Bernalillo County, New Mexico",373.0,2016
10495,1609.0,350432016,26.0,0.0,312.0,0.0,0.0,35043,"Sandoval County, New Mexico",109.0,2016
10497,542.0,350452016,0.0,0.0,246.0,0.0,0.0,35045,"San Juan County, New Mexico",78.0,2016
10498,3449.0,350492016,49.0,0.0,727.0,0.0,0.0,35049,"Santa Fe County, New Mexico",16.0,2016
10583,97.0,371552016,0.0,0.0,0.0,146.0,0.0,37155,"Robeson County, North Carolina",317.0,2016
10641,482.0,400372016,0.0,0.0,0.0,0.0,0.0,40037,"Creek County, Oklahoma",0.0,2016
10642,383.0,401012016,0.0,0.0,0.0,0.0,0.0,40101,"Muskogee County, Oklahoma",97.0,2016
10643,12251.0,401092016,86.0,765.0,325.0,739.0,781.0,40109,"Oklahoma County, Oklahoma",274.0,2016
10646,330.0,401252016,0.0,0.0,0.0,0.0,0.0,40125,"Pottawatomie County, Oklahoma",0.0,2016
10647,1265.0,401312016,0.0,0.0,0.0,0.0,0.0,40131,"Rogers County, Oklahoma",114.0,2016
10648,10743.0,401432016,89.0,597.0,224.0,316.0,530.0,40143,"Tulsa County, Oklahoma",342.0,2016
10650,622.0,401452016,0.0,0.0,0.0,0.0,0.0,40145,"Wagoner County, Oklahoma",0.0,2016
10787,98973.0,482012016,1454.0,2337.0,13214.0,8577.0,11507.0,48201,"Harris County, Texas",0.0,2016
10866,587.0,530092016,0.0,0.0,0.0,0.0,0.0,53009,"Clallam County, Washington",8.0,2016
10875,95159.0,530332016,391.0,2305.0,2833.0,1645.0,21639.0,53033,"King County, Washington",158.0,2016
10886,2675.0,530732016,0.0,0.0,226.0,0.0,0.0,53073,"Whatcom County, Washington",0.0,2016
10887,1737.0,530772016,0.0,0.0,300.0,0.0,0.0,53077,"Yakima County, Washington",31.0,2016
10922,0.0,350312016,0.0,0.0,0.0,0.0,0.0,35031,"McKinley County, New Mexico",30.0,2016