In [15]:
#import dependencies
import pandas as pd
import json
from flask import Flask, render_template,jsonify

# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float ,Date

from sqlalchemy.orm import Session

from sqlalchemy import inspect
from sqlalchemy.ext.automap import automap_base

In [16]:
# ===========================Database Connection========================

# Create Database Connection
engine = create_engine("sqlite:///student.sqlite", echo=False)
Base = automap_base()
Base.prepare(engine, reflect=True)
session = Session(engine)

conn = engine.connect()
#Base.metadata.create_all(conn)
session = Session(bind=engine)

In [18]:
# the queries
student_origin = pd.read_sql_query("select * from International_Students;", conn)
student_origin["ID"]=student_origin["Origin"]+student_origin["year"]
student_origin=student_origin.drop_duplicates()
student_origin.head()

   Origin studentcount  year          ID
0   China       59,939  2000   China2000
1   India       54,664  2000   India2000
2   Japan       46,497  2000   Japan2000
3   Korea       45,685  2000   Korea2000
4  Taiwan       28,566  2000  Taiwan2000